In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
6    18    Male     Good    School        No
18   19    Male     Good    School        No
37   94    Male  Average        PG       Yes
1    68  Female     Poor        UG        No
4    16  Female  Average        UG        No

In [4]:
df = df.iloc[:,2:] # all rows and columns starting from 2nd index

In [6]:
df.head() # review, education are ordinal categories i.e X and Purchased is Label Encoding i.e Y

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

### Preparing our Encodings

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
#now categories are arranged for Reviews and Education with the priority of values sorted in List values for both
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
#Priority or value is in Ascending Values poor and school has less, while Good and PG has more for Reviews and Education respectively

### Train Test Split

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1], test_size=0.2)

In [18]:
X_train

     review education
25     Good    School
40     Good    School
17     Poor        UG
4   Average        UG
15     Poor        UG
2      Good        PG
42     Good        PG
16     Poor        UG
26     Poor        PG
9      Good        UG
41     Good        PG
6      Good    School
20  Average    School
36     Good        UG
30  Average        UG
5   Average    School
12     Poor    School
0   Average    School
27     Poor        PG
11     Good        UG
28     Poor    School
46     Poor        PG
33     Good        PG
1      Poor        UG
18     Good    School
34  Average    School
8   Average        UG
45     Poor        PG
48     Good        UG
23     Good    School
37  Average        PG
19     Poor        PG
47     Good        PG
10     Good        UG
38     Good    School
49     Good        UG
35     Poor    School
29  Average        UG
3      Good        PG
44  Average        UG

In [19]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']],
               dtype=<class 'numpy.float64'>)

In [20]:
X_train = oe.transform(X_train)

In [21]:
X_train

array([[2., 0.],
       [2., 0.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [2., 2.],
       [0., 1.],
       [0., 2.],
       [2., 1.],
       [2., 2.],
       [2., 0.],
       [1., 0.],
       [2., 1.],
       [1., 1.],
       [1., 0.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [2., 0.],
       [1., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [1., 1.]])

In [22]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

### Label Encdoing for Output

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le = LabelEncoder()

In [25]:
le.fit(y_train)

LabelEncoder()

In [26]:
le.classes_

array(['No', 'Yes'], dtype=object)