In [1]:
import pandas as pd
import requests

In [20]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [21]:
pd.DataFrame(response.json()['results']).shape

(20, 14)

In [22]:
# now from the JSON data we will create a dataframe
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [23]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,162.501,8.704,26103
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,192.686,8.696,19786
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,148.349,8.577,11953
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,113.543,8.567,15357
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,79.276,8.542,8226

In [24]:
temp_df.to_csv('moviesfirstpage.csv')

In [ ]:
#now we will create a dataframe across 7 columns for all the movies available
#df = pd.DataFrame()
#for i in range(1,429):
    #response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    #temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    #df = df._append(temp_df,ignore_index=True)

#Dont Run PLOX